.header__nav {
	height: 100px;
	align-items: center;
	display: flex;
	justify-content: space-between;
}

.cities {
	display: flex;
	justify-content: space-between;
}

.cities__name {
	font-size: 14px;
	color: var(--white);
	margin-right: 20px;
}

.cities__name.-blue {
	color: var(--blue);
}

.header__right {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__link {
	font-size: 14px;
	color: var(--white);
	margin-right: 20px;
}

.burger {
	display: none;
}

@media screen and (max-width: 1023px) {
	.cities__name, .header__link {
		font-size: 12px;
	}
}

@media screen and (max-width: 767px) {
	.cities__name {
		display: none;
	}

	.cities__name.-blue {
		display: block;
		padding-left: 10px;
		font-size: 14px;
		color: var(--white);
	}

	.header__right {
		display: none;
	}

	.burger {
		margin-right: 10px;
		display: block;
		height: 25px;
		width: 30px;
		position: relative;
	}

	.meat {
		height: 2px;
		width: 30px;
		background-color: var(--white);
		position: absolute;
	}

	.meat.-second {
		top: 10px;
		width: 15px;
	}

	.meat.-third {
		top: 20px;
	}
}