.hero__about {
	display: flex;
	justify-content: flex-end;
	padding-bottom: 250px;
	position: relative;
}

.hero__container {
	width: 49%;
}

.hero__place, .hero__also, .hero__title {
	color: var(--white);
}

.hero__place {
	padding-top: 45px;
	font-size: 12px;
}

.hero__title {
	padding-top: 20px;
	font-size: 30px;
	line-height: 1.4;
	width: 330px;
}

.hero__also {
	padding-top: 20px;
	font-size: 14px;
}

.circle {
	position: absolute;
	bottom: 120px;
	left:160px;
	width: 231px;
	height: 231px;
	border-radius: 50%;
	background-color: var(--grey);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.circle__assassment, .circle__rate, .circle__name, .circle__wimprof, .circle__review {
	color: var(--blue);
}

.circle__rate {
	font-size: 35px;
	height: 23%;
}

.circle__name {
	height: 15%;
}

.circle__wimprof {
	height: 15%;
}

@media screen and (max-width: 1023px) {
	.hero__about {
		padding-bottom: 150px;
	}

	.circle {
		bottom: 200px;
	}
}

@media screen and (max-width: 767px) {
	.hero__about {
		justify-content: center;
		display: flex;
		padding-bottom: 20px;
	}

	.hero__container {
		width: calc(100% - 5px);
		align-items: center;
	}

	.hero__title {
		font-size: 30px;
	}

	.circle {
		position: static;
		align-items: center;
		margin: 0 auto;
		margin-bottom: 50px;
	}
}